:root.theme_dark {
	--color-light: #ff8dcb;
	--text-color: #f1b2ce;
	--title-color: #000028;
	--bg-color: #000028;
	--header-color: #db00ff;
	--accent-color: #ff0070;
	--title-color-h3: #ff0070;
	--text-shadow: #ff0070;
	--decor: #ff0070;
	--link: #ff0070;
}

/*
*/
