:root .theme_light {
	--text-shadow: #ff0070;
	--accent-color: #ff8dcb;
	--section-color: #ff8dcb;
	--header-color: #ffc2e6;
	--link: #ffc2e6;
	--bg-color: #fff1f7;
	--text-color: #353430;
	--title-color: #353430;
	--decorated-zone-color: #353430;
	--title-color-h3: #353430;
	--decor: #353430;
	--hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
	:root {
		--text-shadow: #ff0070;
		--accent-color: #ff8dcb;
		--section-color: #ff8dcb;
		--header-color: #ffc2e6;
		--bg-color: #fff1f7;
		--link: #ffc2e6;
		--title-color: #353430;
		--decorated-zone-color: #353430;
		--title-color-h3: #353430;
		--decor: #353430;
		--hover: rgba(50, 49, 45, 0.4);
	}
}

.theme_light .header__decor_rec,
.theme_light .header__decor_rec::before {
	visibility: hidden;
}

@media (prefers-color-scheme: light) {
	.dark_theme {
		display: none;
	}
	.page {
		background-image: url('../images/cover-image-light.png');
	}
}

.page.theme_light {
	background-image: url('../images/cover-image-light.png');
}
