.page {
	background-image: url('../images/cover-image-dark.png');
	background-color: var(--bg-color, #000028);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/*Меню*/
.header {
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	grid-auto-flow: row;
	min-block-size: 100vh;
	position: relative;
	padding: 20px;
	height: 100vh;
	min-height: 668px;
}

.header__theme-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header__theme-menu-list {
	display: flex;
	list-style-type: none;
	gap: 10px;
}

/*Заголовок*/
.header__title__text {
	color: var(--header-color);
	text-shadow: 4px 4px 0 var(--text-shadow, #ff0070);
	font-family: 'IBM Plex Mono', monospace;
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	font-style: normal;
	font-weight: 700;
	line-height: 82.5%;
	right: 20px;
	position: relative;
}

/*Параграф*/
.text__content {
	display: flex;
	color: var(--title-color, #000028);
	font-family: 'IBM Plex Mono', monospace;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.4px;
	background-color: var(--accent-color, #ff0070);
	justify-self: self-end;
	align-self: center;
	max-block-size: 171px;
	max-inline-size: 491px;
}

/*Кнопки*/
.header__theme-menu-button {
	color: var(--decor, #ff0070);
	text-align: center;
	text-transform: lowercase;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
	min-height: 26px;
	padding: 0px 13px;
	min-width: 70px;
}

.header__theme-menu-button:hover {
	border: 1px solid var(--hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
	border: none;
	outline: none;
	border-bottom: 1px solid var(--decor, #ff0070);
}

.header__theme-menu-button_active {
	border: 1px solid var(--decor, #ff0070);
	pointer-events: none;
}

/*Уголки*/

.decorated-zone::before {
	content: '';
	position: absolute;
	border-bottom: 1px solid var(--decor, #ff0070);
	border-left: 1px solid var(--decor, #ff0070);
	inline-size: 25px;
	block-size: 25px;
	bottom: 20px;
	left: 20px;
}

.decorated-zone::after {
	content: '';
	position: absolute;
	border-top: 1px solid var(--decor, #ff0070);
	border-right: 1px solid var(--decor, #ff0070);
	inline-size: 25px;
	block-size: 25px;
	top: 20px;
	right: 20px;
}

/*Rec*/
.header__decor_rec {
	color: var(--accent-color, #ff0070);
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	position: absolute;
	display: flex;
	gap: 5px;
	top: 20.3px;
	right: 21px;
}

.header__decor_rec::after {
	content: '';
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background-color: var(--accent-color, #ff0070);
	filter: drop-shadow(0px 0px 4px 2px #ff0070);
	margin-inline: 5px 8px;
	margin-block-start: 7.4px;
}

/*Первая секция */
.section__content {
	display: grid;
	padding: 60px 20px 20px;
}

/*Ссылка */
.link {
	text-decoration: none;
	text-shadow: 2px 2px 0 var(--link, #ff0070);
}

.link:hover {
	cursor: pointer;
	border-bottom: 2px solid var(--text-color, #ff0070);
}

.link:focus {
	outline: 1px solid var(--text-color);
}

.section__content_focus {
	grid-template-columns: 1fr 2fr;
	gap: 10px;
}

.section__block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	grid-column: 2;
}

.section__block_focus:not(:last-child) {
	padding: 0px 0px 11px 0px;
}

.section__title {
	color: var(--title-color-h3);
	font-family: 'IBM Plex Mono', monospace;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.4px;
	grid-column: span 3;
}

.section__title_why {
	grid-column: span 1;
}

.section__subtitle {
	color: var(--title-color);
	font-family: 'IBM Plex Mono', monospace;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.4px;
	background-color: var(--accent-color);
}

.section__paragraf {
	color: var(--text-color);
	font-family: 'IBM Plex Mono', monospace;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 23.4px;
}

/*Секция вторая */
.section__content_concentration {
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.section__title_attention {
	max-inline-size: 315px;
	grid-column: span 3;
}

.section__block_multitasking {
	grid-row: 2;
	grid-column: 1;
}

.section__block_meal {
	grid-row: 2;
	grid-column: 2;
}

.section__block_gadgets {
	grid-row: 2;
	grid-column: 3;
}

/*Треться секция */
.section__content_goldfish {
	grid-template-columns: 1fr 2fr;
	gap: 10px;
}
.section__title_goldfish {
	grid-column: span 1;
}

.section__subtitle_card {
	font-weight: 400;
}

.article_card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.component__card {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list__card {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/*Cекция Галереи*/

.section__galeria {
	gap: 20px;
	padding: 60px 20px;
}

.content__img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.galeria {
	display: grid;
	gap: 20px;
	grid-area: inherit;
}

.content__img:first-of-type {
	grid-row: 1 / 2;
	grid-column: 1 / 3;
}

.content__img:nth-of-type(2) {
	grid-row: 1 / 3;
	grid-column: 3 / 4;
}

.content__img:nth-of-type(3) {
	grid-row: 2 / 4;
	grid-column: 1 / 2;
}

.content__img:nth-of-type(4) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.content__img:last-of-type {
	grid-row: 3 / 4;
	grid-column: 2 / 4;
}

/*Футер*/
.footer {
	display: grid;
	grid-auto-flow: row;
	min-block-size: 100vh;
	position: relative;
	padding: 20px;
	height: 100vh;
	min-height: 668px;
}

.footer__title {
	color: var(--header-color);
	font-family: 'IBM Plex Mono', monospace;
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	text-shadow: 2px 2px 0 var(--text-shadow, #ff0070);
	font-style: normal;
	font-weight: 700;
	line-height: 82.5%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Планшет*/
@media (width< 800px) {
	.header__theme-menu {
		flex-wrap: nowrap;
		justify-content: flex-end;
		flex-direction: row;
	}

	.header__theme-menu-list {
		flex-direction: column;
		justify-content: center;
	}

	.header__title__text {
		text-shadow: 4px 4px 0px var(--accent-color, #ff8dcb);
	}

	.text__content {
		max-inline-size: 364px;
	}

	.section__title {
		padding: 0px 2px 0px 0px;
	}

	.section__content_focus {
		gap: 20px;
	}

	.section__block_focus:not(:last-child) {
		padding: 0px 0px 0px 0px;
	}

	.section__block {
		gap: 10px;
	}

	.section__content_concentration {
		grid-template-rows: min-content 1fr 1fr 1fr;
		padding: 60px 20px 20px;
		grid-template-columns: 1fr;
		gap: 0px;
	}

	.section__title_attention {
		max-block-size: 70px;
		max-inline-size: 236px;
		margin: 0px 0px 17px 0px;
	}

	.section__block_multitasking {
		grid-row: 2;
		grid-column: span 3;
	}

	.section__block_meal {
		grid-row: 3;
		grid-column: span 3;
	}

	.section__block_gadgets {
		grid-row: 4;
		grid-column: span 3;
	}

	.section__content_goldfish {
		gap: 20px;
	}

	.article_card {
		gap: 17px;
	}

	.footer__title {
		text-shadow: 2px 2px 0px var(--accent-color, #ff8dcb);
	}
}

@media (width< 500px) {
	.page {
		max-width: 375px;
	}

	.header {
		padding: 10px;
	}

	.header__decor_rec {
		top: 11px;
		right: 11px;
	}

	.decorated-zone::after {
		top: 10px;
		right: 10px;
	}

	.decorated-zone::before {
		bottom: 10px;
		left: 10px;
	}

	.header__title__text {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
		right: 0px;
	}

	.header__theme-menu {
		max-width: 375px;
		align-items: center;
	}

	.section__content {
		padding: 40px 10px 20px;
	}

	.header__theme-menu-list {
		justify-content: flex-start;
	}

	.section__content_focus {
		grid-template-rows: 1fr;
		grid-template-columns: inherit;
		gap: 20px;
	}

	.section__block_focus:not(:last-child) {
		padding: 0px;
	}

	.section__block {
		grid-column: 1;
	}

	.section__title_attention {
		padding: 10px 0px 0px 0px;
		max-inline-size: 355px;
		margin: 0px;
	}

	.section__content_concentration {
		grid-template-rows: 1fr;
		gap: 20px;
		padding: 20px 10px 30px;
	}

	.section__block_multitasking {
		grid-row: 2;
		grid-column: span 3;
	}

	.section__block_meal {
		grid-row: 3;
		grid-column: span 3;
	}

	.section__block_gadgets {
		grid-row: 4;
		grid-column: span 3;
	}
	.section__content_goldfish {
		grid-template-columns: inherit;
		padding: 20px 10px 30px;
		gap: 20px;
	}

	.content__img:first-of-type {
		grid-row: 1;
		grid-column: inherit;
	}

	.content__img:nth-of-type(2) {
		grid-row: 2;
		grid-column: inherit;
	}

	.article_card {
		gap: 20px;
	}

	.content__img:nth-of-type(3) {
		grid-row: 3;
		grid-column: inherit;
	}

	.content__img:nth-of-type(4) {
		grid-row: 4;
		grid-column: inherit;
	}

	.content__img:last-of-type {
		grid-row: 5;
		grid-column: inherit;
	}

	.section__galeria {
		gap: 10px;
		padding: 20px 10px 40px 10px;
	}

	.galeria {
		gap: 10px;
	}

	.footer {
		justify-content: center;
	}

	.footer__title {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	}
}
