/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	background-image: url('../images/cover-image-dark.png');
	background-color: var(--bg-color-dark, #000028);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
/*Меню*/
.header {
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	grid-auto-flow: row;
	min-height: 100vh;
	position: relative;
	padding: 20px;
}

.header__theme-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header__theme-menu-list {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-content: center;
	gap: 0.62rem;
}

/*Заголовок*/
.header__title__text {
	color: #db00ff;
	text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
	font-family: 'IBM Plex Mono';
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	font-style: normal;
	font-weight: 700;
	line-height: 82.5%;
	right: 20px;
	position: relative;
}

/*Параграф*/
.text__block {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 114px 0px;
}

.text__content {
	display: flex;
	flex-wrap: wrap;
	color: #000028;
	font-family: 'IBM Plex Mono';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.4px;
	background-color: var(--accent-color, #ff0070);
	width: 30.6875rem;
	text-wrap: wrap;
	height: 4.4375rem;
}

/*Кнопки*/
.header__theme-menu-button {
	color: var(--accent-color, #ff0070);
	text-align: center;
	font-family: 'IBM Plex Mono';
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 26px;
	padding: 0px 13px;
	width: 70px;
}

.header__theme-menu-button:hover {
	border: 1px solid var(--accent-color, #ff0070);
}

/*Уголки*/
decorated-zone-header {
}
.decorated-zone::before {
	content: '';
	position: absolute;
	border-bottom: 1px solid var(--accent-color, #ff0070);
	border-left: 1px solid var(--accent-color, #ff0070);
	inline-size: 25px;
	block-size: 25px;
	bottom: 20px;
	left: 20px;
}

.decorated-zone::after {
	content: '';
	position: absolute;
	border-top: 1px solid var(--accent-color, #ff0070);
	border-right: 1px solid var(--accent-color, #ff0070);
	inline-size: 25px;
	block-size: 25px;
	top: 20px;
	right: 20px;
}

/*Rec*/
.header__decor_rec {
	color: var(--accent-color, #ff0070);
	font-size: 18px;
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	position: absolute;
	display: flex;
	justify-self: end;
	align-self: flex-start;
	text-align: center;
	gap: 5px;
	top: 20.3px;
	right: 21px;
}

.header__decor_rec::after {
	content: '';
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background-color: var(--accent-color, #ff0070);
	filter: drop-shadow(0px 0px 4px #ff0070);
	margin-inline: 5px 8px;
	margin-block-start: 7.4px;
}

/*Первая секция */
.section__content {
	background-color: var(--bg-color-dark);
	display: grid;
}

.link {
	text-decoration: none;
	text-shadow: 1px 1px 0 var(--accent-color, #ff0070);
}

.link:hover {
	cursor: pointer;
	text-decoration-line: underline;
}

.section__content_fs {
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	padding: 60px 20px;
}

.section__block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	grid-column: 2;
}

.section__block_fs:not(:last-child) {
	padding: 0px 0px 11px 0px;
}

.section__title {
	color: #ff0070;
	font-family: IBM Plex Mono;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.4px;
}

.section__subtitle {
	color: var(--bg-color-dark);
	font-family: 'IBM Plex Mono';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.4px;
	background-color: var(--accent-color);
}

.section__paragraf {
	color: var(--color-light);
	font-family: 'IBM Plex Mono';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 23.4px;
}

/*Секция вторая */
.section__content_two {
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px 20px;
	gap: 20px;
}

.section__block_1 {
	grid-row: 2;
	grid-column: 1;
}

.section__block_2 {
	grid-row: 2;
	grid-column: 2;
}

.section__block_3 {
	grid-row: 2;
	grid-column: 3;
}

/*Треться секция */
.section__content_thre {
	grid-template-columns: 1fr 2fr;
	padding: 60px 20px;
	gap: 10px;
}

.section__subtitle_card {
	font-weight: 400;
}

.article_card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.component__card {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list__card {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/*Cекция Галереи*/
.section__galeria {
	gap: 20px;
	padding: 20px 20px;
}

.content__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.galeria {
	display: grid;
	gap: 20px;
	grid-area: inherit;
}

.content__img:first-of-type {
	grid-row: 1 / 2;
	grid-column: 1 / 3;
}

.content__img:nth-of-type(2) {
	grid-row: 1 / 3;
	grid-column: 3 / 4;
}

.content__img:nth-of-type(3) {
	grid-row: 2 / 4;
	grid-column: 1 / 2;
}

.content__img:nth-of-type(4) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.content__img:last-of-type {
	grid-row: 3 / 4;
	grid-column: 2 / 4;
}

/*Футер*/
.footer {
	background-color: var(--bg-color-dark);
	padding: 60px 20px 20px;
	block-size: 100vh;
	grid: inherit;
}

.footer__title {
	text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0px;
}

.fo-zone::before {
	content: '';
	position: absolute;
	border-bottom: 1px solid var(--accent-color, #ff0070);
	border-left: 1px solid var(--accent-color, #ff0070);
	inline-size: 25px;
	block-size: 25px;
	bottom: 20px;
	left: 20px;
}

.fo-zone::after {
	content: '';
	position: absolute;
	border-top: 1px solid var(--accent-color, #ff0070);
	border-right: 1px solid var(--accent-color, #ff0070);
	inline-size: 25px;
	block-size: 25px;
	top: 61px;
	right: 20px;
}
